<li class='dropdown-submenu'><a href="#" class='dropdown-toggle' data-toggle='dropdown'><%= user.full_name %> <b class="caret"></b></a>
  <ul class='dropdown-menu'>
    <%= user.profile_link %>
    <%= user.admin_link %>
    <%= user.logout_link %>
  </ul>
</li>