<div class="jumbotron">
  <h1>Buttress <em><span class="def_type">n.</span> /ˈbətris/</em></h1>
  <p class="lead">A structure built against another structure to support it.</p>

  <hr>
  
  <h3>That's great, what does it do?</h3>
  <p class="lead">Buttress is a collection of popular ruby/rails gems designed for rapid prototyping and application development with the rails 3.2.x framework.  We've put them together and built a bare-bones setup to help get your project prototyped or started.</p>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Built with Bootstrap</h4>
    <p>Take advantage of one of the hottest front-end frameworks available today: <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap v2</a>.</p>

    <h4>GitHub Style Guided</h4>
    <p>We use <a href="https://github.com/styleguide/ruby">GitHub's ruby style guide</a> to light our way, making the code clean, concise, and easy.</p>
        
    <h4>Test driven</h4>
    <p>Buttress utilizes many gems, most with <a href="http://railscasts.com/">railscasts</a> that assist test driven development (TDD).  These include: <a href="https://github.com/rspec/rspec-rails">rspec-rails</a>, <a href="https://github.com/jnicklas/capybara">capybara</a>, <a href="https://github.com/thoughtbot/factory_girl_rails">factory_girl_rails</a>, among others.</p>
    
  </div>

  <div class="span6">
    <h4>Authentication</h4>
    <p>Buttress uses <a href="https://github.com/plataformatec/devise">Devise</a> to take the suck out of user auth. Since devise works nicely with <a href="https://github.com/intridea/omniauth">OmniAuth</a>, multi-provider access is only steps away.</p>
    
    <h4>Authorization</h4>
    <p><a href="https://github.com/ryanb/cancan">CanCan</a> makes user access and restriction a breeze, and it fits nicely on top of the authentication layer.</p>
    
    <h4>Admin area dried-in</h4>
    <p>It seems like every application needs an admin area, so we have one prepped and ready for final build out complete with user section containing search, pagination, and column sorting.</p>
    
  </div>
</div>